:root {
    --main-color: #0078ff;
}
*{
    box-sizing: border-box;
}
.text-main {
    color: var(--main-color);
}

body {
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f5f5f5
    
}
li {
   list-style: none;
}
a{
    text-decoration: none;
    color: #1e1e1e;
}

#home {
    background-image: url(../images/intro-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
 
}
.nav-link {
   color: white !important;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item:active::after  {
    content: "";
    height: 2px;
    width: 0;
    background:white;
    /* position: absolute; */
    left: 0;
    bottom: -10px;
    transition: 0s;
}
.nav-link::after {
    content: "";
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 9px;
    bottom: -2px;
    transition: 0.7s;
}

.active::after {
    width: 35px;
}
    .nav-link:hover::after {
        width: 50%;

    }

.home-layer {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
     background-color: rgba(0, 0, 0, 0.7);

    
}
.header-content h1 {
    color: #fff;
    font-weight: 500;
    font-size: 4rem;
}
/* back to top  */
.back-to-top {
    position: fixed;
    background: #0078ff;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 2.5;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
    display: inline;
}


/* About */

.sect-pt4 {
    padding-top: 4rem;
}
.box-shadow-full {
     padding: 3rem 1.25rem; 
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.about-mf .about-img img {
    margin-left: 20px;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #4e4e4e;
}
.title-left  {
        font-size: 2rem;
        font-weight: 500;
        position: relative;
        color: #1e1e1e;
        margin-top: 0;

}
.title-left:before {
        content: '';
        position: absolute;
        height: 3px;
        background-color: #0078ff;
        width: 100px;
        bottom: -12px;
        
}
.title-s {
    
font-weight: 500;
color: #1e1e1e;
font-size: 1.1rem;
}

*::after::before {
    box-sizing: border-box;
}

.pull-right {
    float: right;
}

.skill-mf .progress .progress-bar {
    height: 1rem;
    background-color: #0078ff;
 
}

/* Services */
.title-a {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #1e1e1e;
}
.service-box {
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem; 
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);

}
.line-mf {
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 74px;
}

.col-md-4:hover .service-box .ico-circle {
color: white;
background-color: var(--main-color);
box-shadow: 0 0 0 10px rgba(40, 65, 188, 0.192);
}
.service-box .ico-circle {
    transition: all 500ms ease;
    font-size: 3.5rem;
}

.ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}

.service-box .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
}


/* Start Icon */
.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}
.overlay-mf {
    background-color: #0078ff;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.counter-box {
    color: #fff;
    text-align: center;
    position: relative;
}
.counter-ico {
    margin-bottom: 1rem;
}
.counter-num .counter {
    font-size: 2rem;
    margin-bottom: 0;
}
.counter-ico .ico-circle {
    height: 60px;
    width: 60px;
    line-height: 1.8;
    box-shadow: 0 0 0 10px #cde1f8;
}


/* Start portfolio */
.col {
    border-radius: solid 0.1px rgba(0, 0, 0, 0.014);
    box-shadow: 0 10px 9px -10px rgb(0 0 0 / 10%);
  border-style: none

}
.card-text{
    font-size: 12px;
}
.card-text span{
    color: var(--main-color);
}

.col img {
display: block;
 cursor: pointer;
width: 100%;
height: auto;
   
 }
 .image{
    overflow: hidden;
   
 }
.col .card img{
    transform: scale(1);
    transition: 1s ease-in-out;
}
.col .card:hover img{
    transform: scale(1.5);
}
.ico-circle2 i {
    font-size: 1.5rem;
    color: #0078ff;
    position: relative;
    right: -5px;
    top: 5px;
}
.ico-circle2{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 1.55;
    box-shadow: 0 0 0 1.5px #0078ff;
    float: right;
    bottom: 28px;
    position: absolute;
    right: 18px;
}



/*Satrt Work */

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}
.overlay-mf {
    background-color: #0078ff;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} 
.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.counter-box {
    color: #fff;
    text-align: center;
    position: relative;
}

.bg-image img {
    border-radius: 50%;
    width: auto;
}


/* Start blog  */
.card-blog .card-category-box {
    position: absolute;
    text-align: center;
    top: 220px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}
.card-blog .card-category {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}
.card-blog .card-category .category {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1px;
    margin-bottom: 0;
}
.avatar {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.card-blog .post-author {
float: right; 
}

#testimonial , #Contact{

    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* Contact-Footer */

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}
.overlay-mf {
    background-color: #0078ff;
}
.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.title-box-2 {
    margin-bottom: 3rem;
}
.title-left {
    font-size: 2rem;
    position: relative;
}
#sendmessage {
    color: #0078ff;
    border: 1px solid #0078ff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
#errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.form-group {
    margin-bottom: 1rem;
}

textarea.form-control {
    height: auto;
}


textarea {
    overflow: auto;
    resize: vertical;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}
.button-rouded {
    border-radius: 5rem;
    margin-left: 1.3rem;
}
.button-big {
    padding: 0.9rem 2.2rem;
    font-size: 1.2rem;
}
.button-a {
    background-color: #0078ff;
    color: #fff;
    border-color:#0078ff ;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.list-ico {
    line-height: 2;
}
.list-ico span {
    color: #0078ff;
    margin-right: 10px;
}
.socials {
    padding: 1.5rem 0;
}
.socials .ico-circle {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.4;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
    transition: all 500ms ease;
}
.socials ul li {
    display: inline-block;
}
footer {
    text-align: center;
    color: #fff;
    padding-bottom: 4rem;
    position: relative;

}
footer .copyright {
    margin-bottom: 0.3rem;
}
b, strong {
    font-weight: bolder;
}
footer .credits {
    margin-bottom: 0;
}
footer .credits a {
    color: #fff;
}
.footer-paralax {
    padding: 5rem 0 0 0;}